* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-description {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.3;
}

//Current state - Brings up box with button
//Todo - Make box cover card, background should be transparant, text should not be
