* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter-list {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  &__category {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-top: 20px;
  }
}
