* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.beer-list {
  display: flex;
  justify-content: center;
  width: 65vw;
  margin-left: 20px;
  flex-wrap: wrap;

  &__card {
    height: fit-content;
  }
}

@media screen and (min-width: 1232px) {
  .beer-list {
    width: 75vw;
  }
}

@media screen and (min-width: 1660px) {
  .beer-list {
    margin-left: -20px;
    width: 80vw;
  }
}

@media screen and (min-width: 1844px) {
  .beer-list {
    margin-left: 20px;
    width: 80vw;
  }
}
