* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    width: 100vw;
    text-align: center;
  }
}

@media screen and (min-width: 930px) {
  .app {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    &__navbar {
      align-self: flex-start;
    }
  }
}
