@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

//////////Colour Variables//////////

//Backgrounds
$card-background-1: #dddddd;
$card-background-2: #ffffff;

$navbar-background: #ffd8fb;

//Borders
$navbar-border: #341a31;

//////////Font Variables//////////

//Descriptions

$card-description: Open sans, "sans-serif";

//Headings

$card-name: Sansita, "sans-serif";
