@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

//////////App//////////
$app-background: #12a3d1;

$page-heading: "Abril Fatface", serif;
//////////Cards//////////
$card-background-1: #dddddd;
$card-background-2: #ffffff;
$card-border: #000000;

$card-name: "Sansita", sans-serif;
$card-description: "Open sans", "sans-serif";

//////////Construction Bar//////////
$construction-border: #000000;

//////////Page Buttons//////////
$page-buttons-background: #000000;
$page-buttons-shadows: #000000;
$page-buttons-number: #54ae00;

$page-buttons-font: "Space Grotesk", sans-serif;

//////////Navbar//////////
$navbar-background: #ffd8fb;
$navbar-border: #341a31;

$navbar-labels: "Sansita", sans-serif;
